<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="elogic" translate="label" sortOrder="300">
            <label>Elogic</label>
        </tab>
        <section id="weather_section" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Weather</label>
            <tab>elogic</tab>
            <resource>Elogic_Weather::weather</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="city_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Id of the city</label>
                    <comment>You can check the id here bulk.openweathermap.org/sample/.</comment>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Api key</label>
                    <comment>The api key for openweathermap.org service.</comment>
                </field>
                <field id="units" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Units of measurement</label>
                    <source_model>Elogic\Weather\Model\Config\Source\Measurement</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
